src/main/mule/implementation/sftp-process-implementaion.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="sftp-process-implementaionFlow" doc:id="25a623fb-0283-4ca7-befb-a19c3080bcce" >
		<logger level="INFO" doc:name="Logger" doc:id="960cf6ae-51f9-4f1b-ba6f-67eeda7820ec" message="Request file processing started"/>
		<ee:transform doc:name="Transform Message" doc:id="600b3258-1f53-4510-9ac6-3be0ad9bdf04" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0e6b9b7b-a922-4c7e-9e47-6c93d5ca73c8" message="Response from backend system: #[payload]"/>
	</flow>
</mule>
